<td><%= name %></td>
<td><%= address %></td>
<td><%= tags %></td>

<td text-align="center"><a href="#/<%= id %>/edit" class="btn btn-success">Edit</td>
<td text-align="center"><a href="#/<%= id %>/destroy" id="destroy" class="btn btn-danger">Destroy</a></td>
